body {
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

h1 a,
h2 a{
    color: black;
}

.img-responsive {
    margin-top: 56px;
    width: 100%;
    height: auto;
}
